<div class="folder_<%= @folder.id %>">
	
	<% if @folder.archive? %>
		<div class="folder_is_archived errors">
			This folder is archived. No changes can be made.
		</div>
	<% end %>

	<%= render "folders/header" %>

	<div id="dashboard" class="container">
		<h1><%= @folder.name %><%= link_to "Edit Folder", edit_folder_path(@folder), class: "edit" if @folder.creator == current_user %></h1>

		<div class="user_sheet sheet float_right">
			<h2>Who's Here?</h2>
			<ul>
				<% @folder.users.each do |user| %>
  				<li class="user">
						<a href="#!/add/user">
							<%= image_tag user.avatar.url %>
						</a>
					</li>
				<% end %>
				<li class="placer"></li>
				<li class="user">
					<a href="#!/add/user">
						<img src="/imgs/plus.png">
					</a>
				</li>
			</ul>
		</div>
		
		<div class="task_sheet sheet float_left">
			<h2>What Needs to be Done?</h2>
			<ul>
				<%= render @folder.tasks.order(:created_at) %>
				<li class="placer"></li>
				<li>
					<%= form_for [@folder, Task.new], remote: true do |f| %>
						<%= f.text_field :content, placeholder: "What else needs to be done?" %>
					<% end %>
				</li>
			</ul>
		</div>

		<div class="document_sheet sheet float_right">
			<h2>Documents</h2>
			<%= link_to "Add", "#", class: "upload_document small blue button" %>
			<table>
				<thead>
					<tr>
						<th>File Name</th>
					</tr>
				</thead>
				<tbody>
					<%= render @folder.documents %>
					<tr class="placer">
						<td>
							<%= form_for [@folder, Document.new], id: "new_document" do |f| %>
								<%= f.file_field :file %>
								<%= f.submit %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="clear"></div>
		
		<div class="home_sheet sheet">
			<h2>Homes We're Looking At...</h2>
			
			<ul>
				<li class="home">
					<a href="#">
						<p class="address">Add A Home</p>
					</a>
					<a href="#!/add/home">
						<img src="/imgs/home_plus.png">
					</a>
				</li>
			</ul>
			
			<div class="clear"></div>
		</div>

		<div id="map" class="home_sheet sheet">
			<h2>Where are the Homes?</h2>
			<img src="/imgs/map.png">
		</div>

	</div>
	
</div>