<!DOCTYPE html>
<html>
<head>
  <title>Cork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<% tag :link, rel: "apple-touch-icon", href: @organization ? @organization.icon.url : "/imgs/icon.jpg" %>
	<% tag :link, rel: "apple-touch-startup-image", href: "/imgs/startup.jpg" %>
	<% tag :link, rel: "shortcut icon", href: "/imgs/favicon.png" %>
	<%= tag :meta, name: "mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-capable", content: "yes" %>
	<%= tag :meta, name: "apple-mobile-web-app-status-bar-style", content: "black" %>
	<% tag :meta, name: "webapp_manifest", content: "webapp_manifest_url" %>
	<%= tag :meta, name: "viewport", content: "user-scalable=no,width=device-width" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render "sidebar" if user_signed_in? %>

	<div id="main">
		<%= yield %>
	</div>
	
	<div id="loading" class="loading">
		<div class="spinner"></div>
	</div>

</body>
</html>
